<div class="navcontainer">
  <a href="/" class="logo">Eshop</a>

  

  <!-- Search Bar -->
  <div *ngIf="menuType === 'default' || menuType === 'user'" class="search">
    <input type="text" placeholder="Search products" />
    <button>Search</button>
  </div>
  <div class="hamburger" (click)="menuOpen = !menuOpen">
  <div></div>
  <div></div>
  <div></div>
</div>

  

  <!-- Nav Links -->
  <div [ngSwitch]="menuType" [class.nav-open]="menuOpen" class="nav-wrapper">
    <ul *ngSwitchCase="'default'" class="nav-links">
      <a routerLink="">Home</a>
      <a routerLink="seller">Seller</a>
      <a routerLink="user-auth">Account</a>
      <a routerLink="cart-page">Cart({{ cartItems }})</a>
    </ul>
    <ul *ngSwitchCase="'user'" class="nav-links">
      <a routerLink="">Home</a>
      <a>{{ userName | titlecase }}</a>
      <a routerLink="my-orders">My Orders</a>
      <a routerLink="user-auth" (click)="userLogOut()">Logout</a>
      <a routerLink="cart-page">Cart({{ cartItems }})</a>
    </ul>
    <ul *ngSwitchCase="'seller'" class="nav-links">
      <a routerLink="seller-home">Product List</a>
      <a routerLink="seller-add-products">Add Products</a>
      <a (click)="logout()">Logout</a>
      <a>{{ sellerName | titlecase }}</a>
    </ul>
  </div>
</div>
