<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a routerLink="/seller">Become a seller</a></li>
        <li><a routerLink="/my-orders">Orders</a></li>
  
      </ul>
    </div>
    
    <div class="footer-section">
      <h3>About Us</h3>
      <p>At Eshop, we are your one-stop shop for quality and affordability. Discover a better way to shop online with trusted products and fast delivery. From electronics to daily essentials, we bring everything to your doorstep with unbeatable prices and a seamless shopping experience. Empowering smart shoppers every day, we offer top brands, secure payments, and round-the-clock support — because shopping should always be this easy..</p>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 MyStore. All rights reserved.
  </div>
</footer>
