<div class="cart-page">
  <h1>Cart Page</h1>
  <div class="row">
    <div class="col-sm-8 details">
      <ul *ngFor="let cart of cartData">
        <li>
          <img
            src="{{cart.image}}"
            alt=""
          />
          <span>Name: {{cart.name}}</span>

          <span>Price: {{cart.price}}</span>
          <span>Quantiy: {{cart.quantity}}</span>
          <button (click)="removeToCart(cart.id)" >Remove item</button>
        </li>
        <!-- Repeat for more products -->
      </ul>
    </div>
    <div class="summary">
      <h3>Order Summary</h3>
      <ul class="summary-list">
        <li>
          <span>Amount</span>
          <span>{{priceSummary.price}}</span>
        </li>
        <li>
          <span>Tax</span>
          <span>{{priceSummary.tax}}</span>
        </li>
        <li>
          <span>Delivery:</span>
          <span>{{priceSummary.delivery}}</span>
        </li>
        <li>
          <span>Discount</span>
          <span>- {{priceSummary.discount}}</span>
        </li>
        <li class="total">
          <span>Total</span>
          <span>{{priceSummary.total}}</span>
        </li>
        <button (click)="checkout()" class="checkout">checkout</button>
      </ul>
    </div>
  </div>
</div>
