<div class="cart-page">
    <h1>
        cart page
    </h1>
    <div class="row"></div>
    <div class="col-sm-8 details" >
        <ul>
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQSOsj6BruMxFtsfrOAREWCW-qjriCG9n3TA&s" alt=""></li>
            <li><span>product name: </span></li>
            <li><span>price: </span></li>
            <li><span>quantity</span></li>
            <li><button>remove from cart</button></li>
        </ul>
    </div>
    <div class="col-sm-4 summary"></div>
</div>