<div class="form-container">
  <div *ngIf="showLogin" class="signUp">
    <!-- signUp form  -->
    <h3>Seller SignUp</h3>
    <form
      #sellerSignUp="ngForm"
      (ngSubmit)="sellerData(sellerSignUp.value)"
      novalidate
      action=""
    >
      <input type="text" placeholder="name" ngModel required name="name" />
      <input type="text" placeholder="number" ngModel required name="number" />
      <input type="email" placeholder="email" ngModel required name="email" />
      <input
        type="password"
        placeholder="password"
        ngModel
        required
        name="password"
      />
      <button type="submit" [disabled]="!sellerSignUp.valid">submit</button>
      <a class="auth-flip" (click)="openLogin()">already have account ? click to login</a>
    </form>
  </div>
  <!-- login form -->
  <div *ngIf="!showLogin" class="login">
    <h3>Seller login</h3>
    <form
      #sellerLogin="ngForm"
      (ngSubmit)="sellerLoginData(sellerLogin.value)"
      novalidate
      action=""
    >
      <input type="email" placeholder="email" ngModel required name="email" />
      <input
        type="password"
        placeholder="password"
        ngModel
        required
        name="password"
      />
      <button type="submit" >submit</button>
      <a class="auth-flip" (click)="openSignUp()">don't have account ? click to signUp</a>
    </form>
  </div>
</div>
