@if (images) {
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://images.pexels.com/photos/12935091/pexels-photo-12935091.jpeg"
        class="header-image"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      <h3>Eshop</h3>
      <p>Your one-stop shop for everything awesome</p>
    </div>
  </ng-template>
   <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://images.pexels.com/photos/8938722/pexels-photo-8938722.jpeg"
        class="header-image"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      
      <p>Great products. Greater prices</p>
    </div>
  </ng-template>
   <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://images.pexels.com/photos/6207744/pexels-photo-6207744.jpeg"
        class="header-image"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      
      <p>Everything you need, in one place.</p>
    </div>
  </ng-template>
   <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://images.pexels.com/photos/6969967/pexels-photo-6969967.jpeg"
        class="header-image"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
      
      <p>Shop smart. Live better</p>
    </div>
  </ng-template>
   <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="https://images.pexels.com/photos/7679727/pexels-photo-7679727.jpeg"
        class="header-image"
        alt="Random first slide"
      />
    </div>
    <div class="carousel-caption">
     
      <p>Deals that make you smile.</p>
    </div>
  </ng-template>
  
</ngb-carousel>

}
<div class="product-list-wrapper">
  <h1>Trendy Products</h1>
  <div class="row">
    <div  routerLink="/details/{{item.id}}" class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <img
          src="{{item.image}}"
          alt=""
        />
      </div>
      <div class="products-details">
        <h6 class="name-head">{{item.name}}</h6>
        <h6 class="price">{{item.price}}/-</h6>
        <h6>{{item.color}}</h6>
     
  </div>
</div>

