<div class="update-products">
    <h1>Update existing product</h1>
   <p>{{prductMessage}}</p>
    <form #addProduct="ngForm" (ngSubmit)="submitProduct(addProduct.value)">
        <input type="text" name="name"  placeholder="enter product name" class="form-input" ngModel="{{productData?.name}}">
        <input type="text" name="price" placeholder="enter product price"  class="form-input" ngModel="{{productData?.price}}" >
        <input type="text" name="category" placeholder="enter product category" id="" class="form-input" ngModel="{{productData?.category}}">
        <input type="text" name="color" placeholder="enter product color"  class="form-input" ngModel="{{productData?.color}}">
         <input type="text" name="image" placeholder="enter product image url" class="form-input" ngModel="{{productData?.image}}">
         


        
        <textarea name="description" id=""  placeholder="enter product's description" class="form-input" ngModel="{{productData?.description}}"></textarea>
        <button type="submit">update product</button>
    </form>

</div>
