*{
  background-color: transparent;
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 900px;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  
}

.product-image-section {
  flex: 1;
  max-width: 40%;
  padding: 10px;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transform: scale(1.5) e;
}

.product-details-section {
  flex: 1;
  max-width: 55%;
  padding: 10px;
}

.product-details-section h1 {
  font-size: 44px;
  color: #333;
  font-weight:600;
}

.product-details-section h3 {
  color: #e67e22;
  font-weight: 1200;
  font-size: 40px;
}

.product-details-section h6,
.product-details-section div {
  font-size: 20px;
  color: #555;
  margin-bottom: 5px;
}

.product-details-section button {
  padding: 8px 16px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.product-details-section button:hover {
  background-color: #0056b3;
}
.quantity-grp input{
    width: 50px;
    height: 40px;
    margin: 10px;
    margin-left: -2.5px;
    border-radius: 5px;
    padding-left:15px;
    
}
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .product-image-section, .product-details-section {
    max-width: 100%;
  }

  .product-details-section h1 {
    font-size: 1.5rem;
  }

  .product-details-section h3 {
    font-size: 1.2rem;
  }

  .product-details-section p {
    font-size: 0.95rem;
  }

  .quantity-grp {
    justify-content: center;
    flex-wrap: wrap;
  }

  .product-details-section button {
    width: 30%;
    margin-top: 0.5rem;
  }
}